/* line 6, assets\less\common.less */
body .header {
  width: 100%;
  height: 160px;
  background-color: #fff;
  border: 1px #ccc solid;
  vertical-align: middle;
  position: relative;
}
/* line 8, assets\less\common.less */
body .header .logo {
  width: 150px;
  height: 150px;
  display: inline-block;
  float: left;
  margin-left: 100px;
  margin-top: -130px;
}
/* line 10, assets\less\common.less */
body .header .logo img {
  display: inline-block;
  vertical-align: middle;
  margin-top: 11px;
  width: 100%;
  height: 100%;
}
/* line 14, assets\less\common.less */
body .header .sub_menu {
  margin-top: 120px;
  text-align: center;
}
/* line 16, assets\less\common.less */
body .header .sub_menu .car {
  margin-left: 10px;
}
/* line 16, assets\less\common.less */
body .header .sub_menu .mypagee {
  margin-left: -32px !important;
  width: 210px;
}
/* line 16, assets\less\common.less */
body .header .sub_menu .service {
  width: 130px;
}
/* line 17, assets\less\common.less */
body .header .sub_menu .login {
  width: 130px;
}
/* line 17, assets\less\common.less */
body .header .sub_menu .join {
  width: 130px;
}
/* line 18, assets\less\common.less */
body .header .sub_menu .qw {
  width: 150px;
  font-size: 20px;
  margin-top: -5px;
  text-align: center;
}
/* line 26, assets\less\common.less */
body .amazing {
  z-index: 500;
  margin-top: 290px;
  color: #fff;
  top: 17%;
  position: absolute;
  left: 50%;
  margin-left: -265px;
  font-size: 48px;
}
/* line 29, assets\less\common.less */
body .w3-display-left {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  top: 530px;
  color: #fff;
  background-color: #ccc;
  left: 148px;
}
/* line 32, assets\less\common.less */
body .w3-display-right {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  top: 530px;
  color: #fff;
  background-color: #ccc;
  right: 148px;
}
/* line 35, assets\less\common.less */
body [class^="mySlides"] {
  height: 500px;
  width: 100%;
}
/* line 40, assets\less\common.less */
body .title {
  text-align: center;
  color: #ccc;
  font-size: 22px;
  margin-top: 250px;
}
/* line 41, assets\less\common.less */
body .bar {
  text-align: center;
  border: 3px #ccc solid;
  width: 100px;
  left: 50%;
  position: absolute;
  margin-left: -64px;
  margin-top: 8px;
}
/* line 42, assets\less\common.less */
body .holist {
  margin-top: 51px;
  float: left;
  width: 100%;
  height: 1000px;
}
/* line 45, assets\less\common.less */
body .hotel1 {
  text-align: center;
  display: inline-block;
  width: 33.3%;
  height: 300px;
  float: left;
}
/* line 48, assets\less\common.less */
body .hotel2 {
  text-align: center;
  display: inline-block;
  width: 33.3%;
  height: 300px;
  float: left;
}
/* line 49, assets\less\common.less */
body .hotel3 {
  text-align: center;
  display: inline-block;
  width: 33.3%;
  height: 300px;
  float: left;
}
/* line 50, assets\less\common.less */
body .hotel4 {
  text-align: center;
  display: inline-block;
  margin-top: 173px;
  width: 33.3%;
  height: 300px;
  float: left;
}
/* line 51, assets\less\common.less */
body .hotel5 {
  text-align: center;
  display: inline-block;
  margin-top: 173px;
  width: 33.3%;
  height: 300px;
  float: left;
}
/* line 52, assets\less\common.less */
body .hotel6 {
  text-align: center;
  display: inline-block;
  margin-top: 173px;
  width: 33.3%;
  height: 300px;
  float: left;
}
/* line 53, assets\less\common.less */
body .hotel1_1 {
  border: 1px #f98128 solid;
  width: 110px;
  height: 35px;
  border-radius: 50px 50px 50px 50px;
  right: 0;
  bottom: 7px;
  z-index: 3;
  position: absolute;
  background-color: #f98128;
}
/* line 55, assets\less\common.less */
body .view {
  cursor: pointer;
  color: #fff;
  font-size: 25px;
  margin-top: -2px;
  margin-left: -26px;
  z-index: 5;
  position: absolute;
}
/* line 56, assets\less\common.less */
body .honame {
  font-size: 18px;
  color: #fff;
  z-index: 5;
  position: absolute;
  margin-top: -65px;
  margin-left: 5px;
}
/* line 57, assets\less\common.less */
body .seemore {
  font-size: 15px;
  color: #0ff;
  z-index: 5;
  position: absolute;
  margin-top: -39px;
  margin-left: 11px;
}
/* line 58, assets\less\common.less */
body .hoprice {
  color: #f00;
  font-size: 30px;
  margin-left: 380px;
}
/* line 59, assets\less\common.less */
body .starcollect {
  position: absolute;
  left: 245px;
}
/* line 60, assets\less\common.less */
body .star {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: -229px;
  margin-top: 6px;
}
/* line 61, assets\less\common.less */
body .star img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}
/* line 62, assets\less\common.less */
body .star2 {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: -185px;
  margin-top: 6px;
}
/* line 63, assets\less\common.less */
body .star2 img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}
/* line 64, assets\less\common.less */
body .star3 {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: -144px;
  margin-top: 6px;
}
/* line 65, assets\less\common.less */
body .star3 img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}
/* line 66, assets\less\common.less */
body .star4 {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: -102px;
  margin-top: 6px;
}
/* line 67, assets\less\common.less */
body .star4 img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}
/* line 69, assets\less\common.less */
body .themeguest {
  width: 100%;
}
/* line 82, assets\less\common.less */
body .bonmun {
  float: left;
  margin-top: 80px;
  border: 1px #fff solid;
  width: 433px;
}
/* line 86, assets\less\common.less */
body [class^="car_"] {
  float: left;
  margin-top: 80px;
  border: 1px #fff solid;
}
/* line 87, assets\less\common.less */
body .theme {
  float: left;
  margin-left: 50px;
  margin-top: -25px;
}
/* line 88, assets\less\common.less */
body .icon {
  margin-top: 120px;
  margin-left: -330px;
  display: inline-block;
}
/* line 89, assets\less\common.less */
body [class^="cicon"] img {
  width: 100%;
  height: 100%;
}
/* line 90, assets\less\common.less */
body .cicon {
  display: inline-block;
  padding: 15px 10px 10px 10px;
  border: 1px #fff solid;
  background-image: url(../images/human.png);
  width: 1px;
  height: 20px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: -10px 1px;
}
/* line 93, assets\less\common.less */
body .cicon1 {
  display: inline-block;
  padding: 20px 10px 20px 40px;
  border: 1px #fff solid;
  background-image: url(../images/baggage.png);
  width: 1px;
  height: 20px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 7px 9px;
}
/* line 96, assets\less\common.less */
body .cicon2 {
  display: inline-block;
  padding: 20px 10px 20px 38px;
  border: 1px #fff solid;
  background-image: url(../images/auto.png);
  width: 20px;
  height: 20px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 7px 9px;
}
/* line 99, assets\less\common.less */
body .cicon3 {
  display: inline-block;
  padding: 20px 1px 20px 33px;
  border: 1px #fff solid;
  background-image: url(../images/ac.png);
  width: 13px;
  height: 20px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 1px 11px;
}
/* line 102, assets\less\common.less */
body .text1 {
  display: inline-grid;
  margin-left: 270px;
}
/* line 103, assets\less\common.less */
body .text {
  background-image: url(../images/check.png);
  background-position: 2px 1px;
  display: inline-block;
  background-size: 25px;
  background-repeat: no-repeat;
  padding: 4px 9px 4px 31px;
  margin-left: -216px;
}
/* line 105, assets\less\common.less */
body .button {
  padding: 139px;
  float: left;
  border: 1px #fff solid;
}
/* line 106, assets\less\common.less */
body .greatvalue {
  background-color: #6c6c6c;
  border: none;
  color: white;
  padding: 24px 44px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  border-radius: 23px;
}
/* line 108, assets\less\common.less */
body .choose {
  background-color: #00f;
  border: none;
  color: white;
  padding: 16px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 28px;
  margin-left: 28px;
}
/* line 110, assets\less\common.less */
body .carlist:first-child {
  margin-top: 140px;
}
/* line 111, assets\less\common.less */
body .carlist {
  max-width: 1192px;
  margin: auto;
}
/* line 116, assets\less\common.less */
body .d {
  border: 1px #f00 solid;
}
/* line 118, assets\less\common.less */
body .bottom {
  background-color: #050b17;
  outline: 2px #fff solid;
  width: 100%;
  height: 690px;
  display: inline-block;
}
/* line 119, assets\less\common.less */
body .bottom1 {
  margin-left: -125px;
  z-index: 100;
}
/* line 120, assets\less\common.less */
body .bottom1 .let {
  color: #fff;
  font-size: 35px;
  margin-left: 225px;
  margin-top: -551px;
  z-index: 10;
}
/* line 121, assets\less\common.less */
body .bottom1 .let2 {
  line-height: 31px;
  font-size: 20px;
  color: #fff;
  margin-left: 209px;
  margin-top: 51px;
  z-index: 10;
}
/* line 123, assets\less\common.less */
body .middlee {
  color: #fff;
  font-size: 35px;
  margin-left: 781px;
  margin-top: -373px;
  z-index: 10;
}
/* line 124, assets\less\common.less */
body .middlee .contact {
  line-height: 58px;
  font-size: 25px;
  color: #fff;
  margin-top: 44px;
  z-index: 10;
}
/* line 126, assets\less\common.less */
body .right {
  color: #fff;
  font-size: 35px;
  margin-left: 1261px;
  margin-top: -261px;
  z-index: 10;
}
/* line 127, assets\less\common.less */
body .right .flight {
  background-color: #878ffa;
  border: none;
  color: white;
  padding: 8px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 56px;
  margin: 0 -10px;
}
/* line 129, assets\less\common.less */
body .right .cars {
  background-color: #878ffa;
  border: none;
  color: white;
  padding: 8px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 56px;
  margin: 0 27px;
}
/* line 131, assets\less\common.less */
body .right .hotels {
  background-color: #878ffa;
  border: none;
  color: white;
  padding: 8px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 56px;
  margin-left: -6px;
}
/* line 133, assets\less\common.less */
body .right .booking {
  background-color: #878ffa;
  border: none;
  color: white;
  padding: 8px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 42px;
  margin-left: -6px;
}
/* line 135, assets\less\common.less */
body .right .travel {
  background-color: #878ffa;
  border: none;
  color: white;
  padding: 8px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 42px;
  margin: 0 18px;
}
/* line 137, assets\less\common.less */
body .right .korea {
  background-color: #878ffa;
  border: none;
  color: white;
  padding: 8px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 42px;
  margin-left: -6px;
}
/* line 139, assets\less\common.less */
body .right .housekorea {
  background-color: #878ffa;
  border: none;
  color: white;
  padding: 8px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 42px;
  margin: 0 18px;
}
/* line 1, assets\less\style.less */
* {
  margin: 0;
  padding: 0;
}
/* line 5, assets\less\style.less */
ul,
ol,
li {
  list-style: none;
}
/* line 6, assets\less\style.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 10, assets\less\style.less */
.sub_menu > li {
  border: 1px #fff solid;
  padding: 0 5px 0 5px;
}
/* line 12, assets\less\style.less */
[class^="container"] {
  position: relative;
  width: 50%;
  background-color: #fff;
}
/* line 18, assets\less\style.less */
[class^="image"] {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
/* line 29, assets\less\style.less */
[class^="container"]:hover [class^="image"] {
  opacity: 0.3;
}
/* line 33, assets\less\style.less */
[class^="container"]:hover [class^="middle"] {
  opacity: 1;
}
/* line 37, assets\less\style.less */
.textt {
  color: #00f;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* line 48, assets\less\style.less */
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
/* line 59, assets\less\style.less */
.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
/* line 71, assets\less\style.less */
.middle3 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
/* line 83, assets\less\style.less */
.middle4 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
/* line 95, assets\less\style.less */
.middle5 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
/* line 107, assets\less\style.less */
.middle6 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
/* line 118, assets\less\style.less */
[class^="container"] {
  margin-top: 200px;
  float: left;
  width: 33.3%;
  height: 300px;
  text-align: center;
  font-size: 30px;
}
/* line 119, assets\less\style.less */
[class^="container"] img {
  width: 100%;
  height: 94%;
}
/* line 122, assets\less\style.less */
.qe {
  display: none;
  border-left: 1px #ccc dashed;
  margin-top: 22px;
  height: 165px;
  text-align: center;
  position: relative;
  line-height: 43px;
}
/* line 124, assets\less\style.less */
.sub_menu:hover .qe {
  display: block;
}
/* line 125, assets\less\style.less */
.qw {
  display: inline-block;
  vertical-align: top;
}
/* line 128, assets\less\style.less */
[class^="hotel"] {
  position: relative;
  background-color: #000;
}
/* line 133, assets\less\style.less */
.hoimage {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}
/* line 142, assets\less\style.less */
[class^="hotel"]:hover .hoimage {
  opacity: 0.3;
}
/* line 145, assets\less\style.less */
[class^="hotel"]:hover .honame {
  color: #f00;
  font-weight: bold;
}
@media screen and (min-width: 1230px) and (max-width: 1660px) {
  /* line 5, assets\less\lessframwork.less */
  #wrap {
    width: 100%;
  }
  /* line 7, assets\less\lessframwork.less */
  .header {
    width: 100% !important;
  }
  /* line 8, assets\less\lessframwork.less */
  .header .sub_menu {
    margin-left: 0;
  }
  /* line 9, assets\less\lessframwork.less */
  .sub_menu > li {
    width: 120px !important;
    float: left;
    display: block;
  }
  /* line 10, assets\less\lessframwork.less */
  .service {
    margin-left: 0;
  }
  /* line 11, assets\less\lessframwork.less */
  .mypagee {
    width: 191px !important;
  }
  /* line 12, assets\less\lessframwork.less */
  .qe {
    text-align: none;
  }
  /* line 14, assets\less\lessframwork.less */
  .leftbox {
    display: none;
    width: 0 !important;
    height: 0;
  }
  /* line 15, assets\less\lessframwork.less */
  .rightbox {
    display: none;
    width: 0 !important;
    height: 0;
  }
  /* line 16, assets\less\lessframwork.less */
  body .header .logo {
    margin-left: 0;
  }
  /* line 18, assets\less\lessframwork.less */
  body .header .logo img {
    margin-left: 0;
  }
  /* line 20, assets\less\lessframwork.less */
  .hotel1 {
    width: 33.333333% !important;
  }
  /* line 21, assets\less\lessframwork.less */
  .hotel2 {
    width: 33.333333% !important;
  }
  /* line 22, assets\less\lessframwork.less */
  .hotel3 {
    width: 33.333333% !important;
  }
  /* line 24, assets\less\lessframwork.less */
  [class^="hotel"] > p {
    font-size: 16px;
  }
  /* line 25, assets\less\lessframwork.less */
  .hoprice {
    right: 0;
    position: absolute;
  }
  /* line 26, assets\less\lessframwork.less */
  .let {
    font-size: 25px !important;
  }
  /* line 27, assets\less\lessframwork.less */
  .let2 {
    font-size: 13px !important;
  }
  /* line 28, assets\less\lessframwork.less */
  .middlee {
    margin-left: 500px!important;
  }
  /* line 29, assets\less\lessframwork.less */
  .right {
    margin-left: 775px!important;
    margin-top: -264px !important;
  }
}
